# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 3 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Cleanup previous root-owned build artifacts
        run: |
          sudo rm -rf ABM-* || true

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Print time
        run: echo "Started at $(date)"

      # Runs a single command using the runners shell
      - name: Start to build Community Sonic using a script
        run: ./sonic_build_script.sh -b 202411 -p marvell -a arm64 --patch_script https://github.com/larch-sonic/sonic-scripts/raw/refs/heads/${{ github.head_ref || github.ref_name }}/larch_sonic_patch_script.sh -r -c b6a493b43d73831a7a40180ef428ef50185bc8ed --other_build_options "SONIC_BUILD_JOBS=8"
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sonic-image
          path: ABM*/sonic-buildimage/target/sonic-marvell-arm64.bin
